
@font-face {
  font-family: 'Bender-Bold';
  src: url('Bender-Bold.eot?#iefix') format('embedded-opentype'),  url('Bender-Bold.otf')  format('opentype'),
	     url('Bender-Bold.woff') format('woff'), url('Bender-Bold.ttf')  format('truetype'), url('Bender-Bold.svg#Bender-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
